netcdf4
pooch
xarray
numpy
pandas  
scipy 
tqdm
gsw
matplotlib
cartopy
cmocean 
importlib_resources
jupyterlab
pytest
pytest-cov
nbsphinx
nbconvert
sphinx
sphinx-rtd-theme
pypandoc
myst-nb
black[jupyter]
isort
pre-commit
